@import "reset.css";
@font-face {
	 font-family: 'Pragmatica', arial;
   src: url('../fonts/pragmatica.ttf') format('truetype');
 }

* {
  box-sizing: border-box;
}
.all {
  max-width: 100%;
	height: calc(100vh - 16px);
}

.list {
	width: 100%;
  padding-bottom: 62.5%;
	position: relative;
}

.header {
	height: 32.5%;
	width: 100%;
  position: absolute;
	z-index: 5;
}

.rectangle_blue {
  width: 100%;
  height: 54%;
  background: #282F96;
  border-bottom: 2px solid black;
  position: relative;
}
.arrow1 {
  width: 24.6%;
  height: auto;
  position: absolute;
  top: 11%;
  left: 45.1%;
}
.arrow2 {
  width: 24.6%;
  height: auto;
  max-height: 120px;
  position: absolute;
  top: 11%;
  left: 73.5%;
}
.arrow1 img {
	animation: blink 1.5s infinite;
}
.arrow2 img {
	animation: blink 1.5s infinite;
}
@keyframes blink {
	0% {
		 filter:  sepia(200%) saturate(200%);
	}
	25% {
     filter: none;
  }
  50% {
     filter: brightness(10);
		 transform: scale(1.03);
  }
  75% {
    filter: none;
  }
}

.text {
  font-family: 'Pragmatica', arial;
  font-size: 7.9vw;
}
.text h1 {
  position: absolute;
  left: 2.2%;
  top: 17%;
  color: #D1D1D1;
}
.rectangle_orange {
  height: 45.5%;
  width: 100%;
  background: #F59C07;
  border-bottom: 2px solid black;
  position: relative;
}
.text h2 {
  position: absolute;
  left: 2.4%;
  top: 6%;
  color: black;
}
.main {
	height: 67.5%;
  position: absolute;
	top: 32.3%;
  width: 100%;
}
.text_adp {
	display: none;
}
.container {
	height: 100%;
  background:#D1D1D1;
  height: 100%;
  width: 69.5%;
  display: inline-block;
	margin-right: -4px;
}
.content {
  height: 74%;
  border-bottom: 2px solid black;
  position: relative;
}
.text h3 {
  position: absolute;
  top: 3.7%;
  left: 4.5%;
  color: black;
}
.circle1 {
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 33%;
  left: 45%;
	z-index: 7;

}
.circle1:hover {
  transform: scale(0.3);
	transition: 1.5s;
	height: 19vw;
	width: 19vw;
}
.circle2:hover {
  transform: scale(0.3);
	transition: 1.5s;
	height: 19vw;
	width: 19vw;
}
.flower_ {
	position: absolute;
	top: 26%;
	left: 41%;
	z-index: 3;
}
.flower_2 {
	position: absolute;
	top: 26%;
	left: 1%;
	z-index: 3;
}
@keyframes rotate {
	0% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(180deg);

  }
  100% {
    transform: rotate(360deg);

  }
}
.flower_ img {
	width: 85%;
	animation: rotate 2.5s infinite linear;
}
.flower_2 img {
	width: 85%;
	animation: rotate 2.5s infinite linear;
}
.circle2 {
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  background-color: #282F96;
  position: absolute;
  top: 33%;
  left: 5%;
	z-index: 5;
}
.arrow3 {
  width: 26%;
  position: absolute;
  left: 68%;
  top: 7%;
	animation: move 1.5s infinite;
}
@keyframes move {
	0% {

	}
	25% {
		 transform: translateY(10px) translateX(-7px);

  }
  50% {
	   transform: translateY(0px);

  }
  75% {
		transform: translateY(10px) translateX(-7px);

  }
}
.bottom_block {
  height: 26%;
  width: 100%;
  vertical-align: top;
}
.text_ {
  display: inline-block;
  width: 58.2%;
  height: 100%;
}
.text h4 {
  position: absolute;
  top: 78%;
  left: 35.5%;
}
.pattern2 {
  display: inline-block;
  width: 29%;
  margin-right: -4px;
  border-right: 2px solid black;
	position: absolute;
	animation: blink 1s infinite;
  }
.pattern2 img {
  width: 100%;
}
.right_rectangle {
  height: 100%;
  width: 30.5%;
  background: #282F96;
  border-left: 2px solid black;
  position: relative;
  bottom: 0;
  right: 0;
  display: inline-block;
}
.pattern {
  width: 67%;
  position: absolute;
  top: 6.5%;
  right: 16.7%;
}
.anim2 {
	animation: movee 4s infinite linear;
}
.anim {
	width: 100%;
	overflow: hidden;
	z-index: 0;
	animation: move2 4s infinite linear;
	animation-delay: 2s;
	transform: translateY(-210%);
}
@keyframes move2 {
	0% {
     transform: translateY(-209%);
	}
  100% {
		transform: translateY(2%);

  }
}
@keyframes movee {
	0% { transform: translateY(-110%)

	}
  100% {
		transform: translateY(103%);
}
 }
.bottom_adp {
	display: none;
}

.black_rectangl {
  height: 26.5%;
	width: 100%;
  background-color: black;
  position: absolute;
	top: -0.4%;
}
.text2 {
  font-family: 'Pragmatica', arial;
  font-size: 10.5vw;
}
.time h3 {
  color: #D1D1D1;
  position: absolute;
  top: 26%;
  left: 69.5%;
}
.arrow4 {
  width: 26.7%;
  position: absolute;
  top: 25%;
  left: 3.2%;
	animation: blink 1.5s infinite;
}
.arrow5 {
  width: 26.7%;
  position: absolute;
  top: 25%;
  left: 36%;
	animation: blink 1.5s infinite;
}
.main2 {
  height: 63%;
	width: 100%;
  background-color: #D1D1D1;
	position: absolute;
	top: 26%;
}
.container_1 {
  height: 50%;
  vertical-align: top;
}
.square1 {
  width: 20%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
  margin-top: -4px;

}
.square2 {
  width: 20%;
  display: inline-block;
  height: 100%;
  margin-right: -4px;
}

.column_1 {
  width: 100%;
  height: 33.33%;
}
.black-s {
  width: 33.34%;
  height: 100%;
  background-color: black;
  display: inline-block;
  margin-right: -4px;
  /* margin-top: -1px; */

}
.grey-s {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.black-s:hover {
	background-color: white;
	transition: 0.5s;
}
.header_adp {
	display: none;
}
.header_orange {
  height: 27.4%;
	width: 100%;
  background: #F59C07;
  position: absolute;
  top: -11%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.arrow6 {
  position: absolute;
  top: 23.5%;
  left: 31%;
}
.ad {
	display: none;
}
.ad6 {
  display: none;
}
.arrow6 img {
  width: 100%;
}
.time2 {
	height: 100%;
	width: 30%;
	position: absolute;
	z-index: 5;
	background-color: #F59C07;
}
.time2 h3 {
  color: black;
  position: absolute;
  top: 26%;
  left: 1%;
}
.main3 {
  height: 75%;
	width: 100%;
  background-color: #D1D1D1;
  position: absolute;
	top: 16.4%;
}
.right {
  width: 26.9%;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.left2 {
  width: 73.1%;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: -4px;
}
.black_square {
  width: 100%;
  height: 55.5%;
  background-color: black;
}
.orange_circle {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #F59C07;
  position: absolute;
  top: 7%;
  left: 13%;
}
.chess {
  width: 100%;
  height: 44.5%;
}
.column_2 {
  height: 50%;
}
.scuare-g {
  width: 40%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.scuare-b {
  width: 40%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
}
.scuare-g2 {
  width: 20%;
  height: 100%;
  display: inline-block;
}
.scuare-b2 {
  width: 20%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
}
.head {
  height: 30.5%;
  width: 100%;
  border-bottom: 2px solid black;
  vertical-align: top;
}
.right-o {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.street {
  width: 70%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.circle-o {
  width: 10.3vw;
  height: 10.3vw;
  border-radius: 50%;
  background-color: #F59C07;
  position: absolute;
  top: 5%;
  left: 8.8%;
	z-index: 2;
  animation: pulsate 1s infinite;
}
@keyframes pulsate {
	0%  {
		transform: scale(1,1);
	}
	25% {
		transform: scale(1.1,1.1);
	}
	100%  {
		transform: scale(1,1);
 }
}

.street h3 {
  color: black;
  position: absolute;
  top: 26.5%;
  left: 2.5%;
}
.content2 {
  width: 100%;
  height: 69.5%;
}
.arrow7 {
  width: 40.8%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
  position: relative;
}
.arrow7 img {
  width: 79%;
  position: absolute;
  top: 13.7%;
  left: 10.5%;
	animation: mov 1.5s infinite linear;
	animation-name: blink;
}
@keyframes mov {
	0% {

	}
	25% {
		 transform: translateY(10px) translateX(-7px);

  }
  50% {
	   transform: translateY(0px);

  }
  75% {
		transform: translateY(10px) translateX(-7px);

  }
}
.right-c {
  width: 59.2%;
  height: 100%;
  display: inline-block;
  position: relative;
  border-left: 2px solid black;
}
.street2 h3 {

  color: black;
  position: absolute;
  top: 20%;
  left: 13.5%;
}
.street2 {
  position: relative;
  width: 100%;
  height: 36%;
  border-bottom: 2px solid black;
}
.bottom-c {
  width: 100%;
  height: 64%;
}
.square-b {
  width: 50%;
  height: 100%;
  background-color: black;
  display: inline-block;
	border-right: 2px solid black;
  margin-right: -4px;
	transition: 0.3s linear;
}
.square-b:hover {background: #F59C07; filter: brightness(1.5);}

.chess-r {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.scuare-g3 {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.scuare-b3 {
  width: 50%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
}
.adpt {
	display: none;
}
.chess_adp {
	display: none;
}
.header2 {
  width: 100%;
  height: 21%;
	position: absolute;
	top: -8.8%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  vertical-align: top;
  background: #D1D1D1;
 }
 .right_text {
   height: 100%;
   width: 55.8%;
   border-right: 2px solid black;
   display: inline-block;
   margin-right: -4px;
   position: relative;
 }
 .left_arrow {
   height: 100%;
   width: 44.2%;
   display: inline-block;
   background-color: #F59C07;
   position: relative;

 }
 .right_text h3 {
   position: absolute;
   top: 23%;
   left: 6%;

 }
 .left_arrow img {
   width: 90%;
   position: absolute;
   top: 8.5%;
   left: 5%;

 }
 @keyframes pointer {
 	0% {

 	}
 	25% {
 		 transform: translateX(-10px);

   }
   50% {
 	   transform: translateX(0);

   }
   75% {
 		transform:  translateX(-10px);

   }
 }
 .main4 {
   height: 55%;
	 width: 100%;
	 position: absolute;
	 top: 12.2%;
 }
 .column1 {
   height: 55%;
   width: 100%;
   background-color: #D1D1D1;
   border-bottom: 2px solid black;
   position: relative;
 }

 .black {
   width: 13.7%;
   position: relative;
   top: 16%;
   left: 3%;
	 animation: bla 3s infinite linear;;
 }
 @keyframes bla {
  0% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(180deg);

  }
  100% {
    transform: rotate(360deg);

  }
}
 .orange {
   width: 13.5%;
   position: relative;
   top: 16%;
   left: 10%;
	 transform: rotate(40deg);
	 animation: bla 3.5s infinite linear;
 }
 .grey {
   width: 13.5%;
   position: relative;
   top: 16%;
   left: 16%;
	 transform: rotate(-50deg);
	 animation: bla 3.5s infinite linear;
 }
 .blue {
   width: 13.5%;
   position: relative;
   top: 16%;
   left: 22%;
	 transform: rotate(180deg);
	 animation: bla 2.5s infinite linear;
 }
 .orange_2 {
   width: 13.5%;
   position: relative;
   top: 16%;
   left: 28%;
	 animation: bla 3s infinite linear;
 }
 .column2 {
   height: 45%;
   background-color: #282F96;
   border-bottom: 2px solid black;
   vertical-align: top;
 }
 .right_arrow {
   display: inline-block;
   width: 36%;
   height: 100%;
   margin-right: -4px;
   position: relative;
	 animation: blink 1.5s infinite;
 }

 .right_arrow img {
   width: 100%;
   position: absolute;
   top: 19%;
   left: 8.5%;
 }
 .name {
   display: inline-block;
   width: 64%;
   height: 100%;
   position: relative;
 }
 .name h3 {
   color: #D1D1D1;
   position: absolute;
   top: 27%;
   left: 11%;
 }
 .footer {
   height: 33%;
   width: 100%;
	 position: absolute;
	 top: 67.2%;
   background-color: #D1D1D1;
   vertical-align: top;
 }
 .contacts {
   width: 35%;
   height: 100%;
   display: inline-block;
   margin-right: -4px;
   position: relative;
 }
 .right_black {
   width: 65%;
   height: 100%;
   background-color: black;
   display: inline-block;
   position: relative;
 }
 .right_black img {
   width: 80%;
   position: absolute;
   top: 17%;
   left: 9.5%;
 }
 .ad_p {
	 display: none;
 }
 p {
   font-family: 'Pragmatica', arial;
   font-size: 1.9vw;
   color: black;
 }
 .system  {
   margin: 6%;
   line-height: 115%;
   position: absolute;
   top: 5%;
 }
 .number {
   position: absolute;
   top: 57%;
   left: 6%;
 }
 .mail {
   position: absolute;
   top: 76%;
   left: 6%;
 }

 @media (min-width: 420px) and (max-width: 770px) {
	 .list {
	   padding-bottom: 80%;
	 }
   .header {
     height: 46%;
		 width: 100%;
   }
   .main {
     height:60%;
		 top: 40%;
   }
   .text {
     font-size: 55px;
   }

	 .rectangle_blue {
		 height: 43%;
   }
	 .text {
	   font-size: 11.1vw;
	 }
	 .text h1 {
		 top: 16%;
	 }
	 .arrow1 {
	   width: 27%;
	   top: 21%;
	   left: 65%;
	 }
   .rectangle_orange {
		 height: 57%;
	 }
	 .text h2 {
	   top: 3%;
	   color: black;
		 line-height: 90%;
	 }
	 .arrow2 {
		 display: none;
	 }
	 .arrow3 {
		 display: none;
	 }
	 .main {
	 	top: 46%;
		height: 72%;
	 }
	 .container {
		 width: 66%;
	 }
	 .right_rectangle {
		 width: 34%;
	 }
	 .pattern {
	   width: 80%;
	   top: 8%;
	   right: 9.5%;
	 }
	 .circle1 {
	   width: 28vw;
	   height: 28vw;
		 left: 50%;
   }
	 .circle2 {
	   width: 28vw;
	   height: 28vw;
		 left: 4%;
   }
	 .content {
		 height: 81%;
	 }
	 .bottom_block {
	   height: 19%;
	 }
	 .text h4 {
	   top: 81%;
	   left: 27.2%;
	 }
	 .pattern2 {
	   width: 25%;
		 height: 19%;
		 overflow: hidden;
	   }
	 .pattern2 img {
	   width: 115%;
	 }
	 .black_rectangl {
	   height: 28.5%;
	 	 top: 17.5%;
	 }
	 .text2 {
	   font-size: 15vw;
	 }
	 .time h3 {
	   top: 26%;
	   left: 57%;
	 }
	 .arrow4 {
	   width: 40%;
	   top: 20%;
	   left: 10%;
	 }
	 .arrow5 {
	   display: none;
	 }
	 .main2 {
	   height: 63%;
	 	 top: 46%;
	 }
	 .s- {
	  display: none;
   }
	 .s-b {
		background: #282F96;
	 }
	 .square1 {
		 width: 25%;
	 }
	 .square2 {
	   width: 25%;
	 }
	 .header_orange {
	   height: 24%;
	   top: 9%;
	 }
	 .arrow6 {
    top: 20%;
		left: 47%;
	 }
	 .adp {
		 display: none;
	 }
	 .ad {
		 display: block;
	 }
	 .time2 h3 {
	   top: 20%;
	   left: 3%;
	 }

	 .main3 {
	  height: 72%;
	 	top: 33%;
	 }
	 .left2 {
	   width: 100%;
	 }
	 .black_square {
	   display: none;
	 }
	 .chess {
	   display: none;
	 }
	 .circle-o {
	   width: 13vw;
	   height: 13vw;
	   top: 4%;
	   left: 6%;
   }
	 .street h3 {
	   top: 24%;
	   left: -5%;
	 }
	 .arrow7 {
	   width: 38%;
	 }
	 .arrow7 img {
	   width: 83%;
	   top: 10%;
	   left: 8%;
	 }
	 .right-c {
	   width: 62%;
	 }
	 .street2 h3 {
	   top: 13%;
	   left: 13%;
	 }
	 .square-b {
	   width: 39%;
	 }
	 .chess-r {
	   width: 41%;
	 }
	 .scuare-b3 {
	   width: 50%;
	   height: 100%;
	   background-color: #282F96;
	   display: inline-block;
	   margin-right: -4px;
	 }
   .adpt {
		 position: absolute;
		 left: 80%;
		 height: 32%;
		 width: 20%;
	 }
	 .header2 {
	   height: 21%;
	 	 top: 5%;
	  }
	  .right_text {
	    height: 100%;
	    width: 100%;
	    border-right: 0px;
	    position: relative;
			left: -3%;
			top: -1%;
	  }
	  .left_arrow {
	   display: none;
	  }
	  .right_text h3 {
	    position: absolute;
	    top: 23%;
	    left: 6.2%;
	  }
	  .left_arrow img {
	    display: none;
	  }
		.main4 {
	   height: 55%;
	 	 top: 26%;
	  }
	  .column1 {
	    height: 59%;
	  }
	  .black {
	    width: 20%;
	    top: 13%;
	    left: 1.8%;
	  }
	  .orange {
	    width: 20%;
	    top: 13%;
	    left: 6.8%;
	  }
	  .grey {
	    width: 20%;
	    top: 13%;
	    left: 12%;
	  }
	  .blue {
	    width: 20%;
	    top: 13%;
	    left: 16.8%;
	  }
	  .orange_2 {
	    display: none;
	  }
		.column2 {
	    height: 40%;
	  }
	  .right_arrow img {
	   display: none;
	  }
	  .name {
	    width: 100%;
	  }
	  .name h3 {
	    top: -80%;
	    left: 2.5%;
	  }
		.footer {
	    height: 25%;
	    width: 100%;
	 	  top: 80.3%;
	  }
	  .contacts {
	    width: 35%;
	  }

}
 @media (min-width: 320px) and (max-width: 419px) {
	 .list {
	   padding-bottom: 123.2%;
	 }
	 .header {
	 	height: 50%;
	 }
   .rectangle_blue {
	   height: 53%;
     border-bottom: 1px solid black;
	 }
	 .arrow1 {
	   width: 36%;
	   top: 53%;
	   left: 4%;
	 }
	 .arrow2 {
	   width: 36%;
	   top: 53%;
	   left: 50%;
	 }
	 .text {
	   font-size: 13.5vw;
	 }
	 .text h1 {
	   left: 3.5%;
	   top: 8%;
	 }
	 .rectangle_orange {
	   height: 47%;
	   border-bottom: 1px solid black;
	 }
	 .text h2 {
	   left: 3.5%;
	   top: 3.5%;
   }
	 .text_adp {
		 width: 100%;
		 height: 14%;
		 display: block;
		 position: absolute;
     top: 50%;
		 border-bottom: 1px solid black;
		 background-color: #D1D1D1;
   }
	 .text_adp h3 {
		 position: absolute;
		 top: 11%;
		 left: 3.5%;
	 }
	 .main {
	 	 height: 68.5%;
	 	 top: 64%;
	 }
	 .container {
	 	 height: 100%;
	   width: 50%;
		 position: relative;
	 }
	 .content {
	   height: 100%;
		 width: 100%;
	   border-bottom: 0px;
		 position: absolute;
	 }
	 .text_ad {
	  display: none;
	 }
	 .circle1 {
	   width: 36vw;
	   height: 36vw;
		 position: relative;
	   top: 5%;
	   left: 13%;
	 }
	 .circle2 {
	   width: 36vw;
	   height: 36vw;
	   position: relative;
	   top: 9%;
	   left: 13%;
	 }
	 .arrow3 {
	   display: none;
	 }
	 .bottom_block {
	   display: none;
	 }
	 .right_rectangle {
	   width: 50%;
	   border-left: 1px solid black;
	 }
	 .pattern {
	   width: 78%;
	   top: 9%;
	   right: 11%;
	 }
	 .bottom_adp {
		 height: 15.5%;
		 width: 100%;
		 border-top: 1px solid black;
		 background-color: #D1D1D1;
		 position: absolute;
		 top: 132.5%;
		 display: block;
	 }
	 .pattern_adp {
		 width: 43%;
		 height: 100%;
		 display: inline-block;
		 margin-right: -4px;
	 }
	 .right_adp {
		 width: 57%;
		 height: 100%;
		 display: inline-block;
		 border-left: 1px solid black;
	 }
	 .right_adp h4 {
		 position: absolute;
     top: 15%;
		 left: 49%;
	 }
	 .black_rectangl {
	   height: 18.5%;
	 	 width: 100%;
	 	 top: 48.1%;
	 }
	 .text2 {
	   font-size: 18vw;
	 }
	 .time h3 {
	   top: 21%;
	   left: 47.5%;
	 }
	 .arrow4 {
	   width: 40%;
	   top: 20%;
	   left: 3.2%;
	 }
	 .arrow5 {
	   display: none;
	 }
	 .s- {
		 display: none;
	 }
	 .s2- {
		 display: none;
	 }
	 .main2 {
	   height: 54.9%;
	 	 top: 66.5%;
	 }
   .column_1 {
	   height: 33.33%;
	 }
	 .square1 {
		 width: 33.3%;
	 }
	 .square2 {
	   width: 33.3%;
	 }
	 .header_adp {
		 height: 19.5%;
		 width: 100%;
		 display: block;
		 border-top: 1px solid black;
		 position: absolute;
		 top: 21.3%;
	 }
	 .arrow_left {
		 height: 100%;
		 width: 47%;
		 display: inline-block;
		 margin-right: -4px;
		 border-right: 1px solid black;
		 background-color: #D1D1D1;
	 }
	 .arrow_left img {
		 position: absolute;
		 top: 17%;
		 left: 3%;
	 }
	 .time_adp {
		 height: 100%;
		 width: 53%;
		 display: inline-block;
		 background-color: #F59C07;
	 }
	 .time_adp h3 {
		 position: absolute;
		 top: 16%;
		 right: 3%;
	 }
	 .header_orange {
	   height: 21.5%;
	   top: 40.5%;
	   border-top: 1px solid black;
	   border-bottom: 1px solid black;
	 }
	 .arrow6 {
		 width: 95%;
		 position: absolute;
		 top: 16%;
		 left: 3%;
	 }
   .ad6 {
		 display: block;
   }
	 .adp {
		 display: none;
	 }
	 .time2 h3 {
	   display: none;
	 }
	 .main3 {
	   height: 32.5%;
	 	 top: 62%;
	 }
	 .left2 {
	   width: 100%;
	   height: 100%;
	 }
	 .black_square {
	   display: none;
	 }
	 .chess {
	  display: none;
	 }
	 .head {
	   height: 52%;
	   width: 100%;
	   border-bottom: 1px solid black;
	 }
	 .right-o {
	   width: 20%;
	 }
	 .street {
	   width: 80%;
	 }
	 .circle-o {
	   width: 13vw;
	   height: 13vw;
	   top: 10%;
	   left: 6%;
   }
	 .street h3 {
	   top: 23%;
	   left: 7%;
	 }
	 .content2 {
	   height: 47%;
	 }
	 .arrow7 {
	   width: 33.5%;
		 height: 100%;
	   background-color: black;
	 }
	 .arrow7 img {
	   display: none;
	 }
	 .right-c {
	   width: 66%;
	   border-left: 1px solid black;
	 }
	 .street2 h3 {
	   top: 40%;
	   left: 11%;
		 word-spacing: -10px;
	 }
	 .street2 {
	   height: 36%;
	   border-bottom: 0;
	 }
	 .bottom-c {
	   display: none;
	 }
   .chess_adp {
		 display: block;
		 width: 100%;
		 height: 31.5%;
		 position: absolute;
		 top: 94%;
		 border-top: 1px solid black;
		 background-color: #D1D1D1;
	 }
	 .column_2 {
	   height: 50%;
	 }
	 .scuare-g {
	   width: 20%;
	 }
	 .scuare-b {
	   width: 20%;
	 }
	 .header2 {
	   height: 14.5%;
	 	 top: 25.5%;
	   border-top: 1px solid black;
	   border-bottom: 1px solid black;
	  }
	  .right_text {
			width: 100%;
	    border-right: 0;
	  }
	  .left_arrow {
	    display: none;
	  }
	  .right_text h3 {
	    top: 19%;
	    left: 4%;
	  }
		.main4 {
	    height: 43%;
	 	  width: 100%;
	 	  position: absolute;
	 	  top: 40%;
	  }
	  .column1 {
	    height: 60%;
	    width: 100%;
	    border-bottom: 1px solid black;
	    position: relative;
	  }

	  .black {
	    display: none;
	  }
	  .orange {
	    width: 25%;
	    position: relative;
	    top: 12%;
	    left: 5%;
	  }
	  .grey {
	    width: 25%;
	    position: relative;
	    top: 12%;
	    left: 11.5%;
	  }
	  .blue {
	    width: 25%;
	    position: relative;
	    top: 12%;
	    left: 18%;
	  }
	  .orange_2 {
	    display: none;
	  }
	  .column2 {
	    height: 37%;
	    border-bottom: 1px solid black;
	  }
	  .right_arrow {
	    display: none;
	  }
	  .name {
	    width: 100%;
	  }
	  .name h3 {
	    top: 18%;
	    left: 3%;
	  }
		.footer {
	    height: 19%;
	 	  top: 81.8%;
	  }
	  .contacts {
	    width: 45%;
	  }
	  .right_black {
	    width: 55%;
	  }
	  .pat {
	    display: none;
	  }
		.right_black img {
			width: 80%;
			left:
		}
		.ad_p  {
			display: block;
		}
	  p {
	    font-size: 2.5vw;
	  }
	  .system  {
	    margin: 7.5%;
	    top: 1%;
	  }
	  .number {
	    position: absolute;
	    left: 7.5%;
	  }
	  .mail {
	    left: 7.5%;
	  }
 }
