@import "reset.css";
@font-face {
	 font-family: 'Pragmatica', arial;
   src: url('../fonts/pragmatica.ttf') format('truetype');
 }

* {
  box-sizing: border-box;
}
.all {
	background: white;
  box-sizing: border-box;
  max-width: 100%;
	height: calc(4*(100vh - 16px));
}

.list {
	width: 100%;
  padding-bottom: 62.5%;
	position: relative;
}

.header {
	height: 32.5%;
	width: 100%;
  position: absolute;
}

.rectangle_blue {
  width: 100%;
  height: 54%;
  background: #282F96;
  border-bottom: 2px solid black;
  position: relative;
}
.arrow1 {
  width: 24.6%;
  height: auto;
  max-height: 120px;
  position: absolute;
  top: 13.3%;
  left: 45.1%;
}
.arrow2 {
  width: 24.6%;
  height: auto;
  max-height: 120px;
  position: absolute;
  top: 13.3%;
  left: 73.5%;
}
.text {
  font-family: 'Pragmatica', arial;
  font-size: 7.9vw;
}
.text h1 {
  position: absolute;
  left: 2.2%;
  top: 17%;
  color: #D1D1D1;
}
.rectangle_orange {
  height: 46%;
  width: 100%;
  background: #F59C07;
  border-bottom: 2px solid black;
  position: relative;
}
.text h2 {
  position: absolute;
  left: 2.4%;
  top: 6%;
  color: black;
}
.main {
	height: 67.5%;
  position: absolute;
	top: 32.5%;
  width: 100%;
}
.container {
	height: 100%;
  background:#D1D1D1;
  height: 100%;
  width: 69.5%;
  display: inline-block;
	margin-right: -4px;
}
.content {
  height: 74%;
  border-bottom: 2px solid black;
  position: relative;
}
.text h3 {
  position: absolute;
  top: 3.7%;
  left: 4.5%;
  color: black;
}
.circle1 {
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 33%;
  left: 45%;
}
.circle2 {
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  background-color: #282F96;
  position: absolute;
  top: 33%;
  left: 5%;
}
.arrow3 {
  width: 26%;
  position: absolute;
  left: 68%;
  top: 7%;
}
.bottom_block {
  height: 26%;
  width: 100%;
  vertical-align: top;
}
.text_ {
  display: inline-block;
  width: 58.2%;
  height: 100%;
}
.text h4 {
  position: absolute;
  top: 78%;
  left: 35.5%;
}
.pattern2 {
  display: inline-block;
  width: 29%;
  margin-right: -4px;
  border-right: 2px solid black;
	position: absolute;
  }
.pattern2 img {
  width: 100%;
}
.right_rectangle {
  height: 100%;
  width: 30.5%;
  background: #282F96;
  border-left: 2px solid black;
  position: relative;
  bottom: 0;
  right: 0;
  display: inline-block;
}
.pattern {
  width: 67%;
  position: absolute;
  top: 6.5%;
  right: 16.7%;
}

.black_rectangl {
  height: 26.5%;
	width: 100%;
  background-color: black;
  position: absolute;
	top: -0.4%;
}
.text2 {
  font-family: 'Pragmatica', arial;
  font-size: 10.5vw;
}
.time h3 {
  color: #D1D1D1;
  position: absolute;
  top: 26%;
  left: 69.5%;
}
.arrow4 {
  width: 26.7%;
  position: absolute;
  top: 25%;
  left: 3.2%;
}
.arrow5 {
  width: 26.7%;
  position: absolute;
  top: 25%;
  left: 36%;
}
.main2 {
  height: 63%;
	width: 100%;
  background-color: #D1D1D1;
	position: absolute;
	top: 26%;
}
.container_1 {
  height: 50%;
  vertical-align: top;
}
.square1 {
  width: 20%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
  margin-top: -4px;

}
.square2 {
  width: 20%;
  display: inline-block;
  height: 100%;
  margin-right: -4px;
}

.column_1 {
  width: 100%;
  height: 33.33%;
}
.black-s {
  width: 33.33%;
  height: 100%;
  background-color: black;
  display: inline-block;
  margin-right: -4px;
  /* margin-top: -1px; */

}
.grey-s {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}


.header_orange {
  height: 27.4%;
	width: 100%;
  background: #F59C07;
  position: absolute;
  top: -11%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.arrow6 {
  position: absolute;
  top: 23.5%;
  left: 31%;
}
.arrow6 img {
  width: 100%;
}
.time2 h3 {
  color: black;
  position: absolute;
  top: 26%;
  left: 1%;
}
.main3 {
  height: 75%;
	width: 100%;
  background-color: #D1D1D1;
  position: absolute;
	top: 16.4%;
}
.right {
  width: 26.9%;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.left2 {
  width: 73.1%;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: -4px;
}
.black_square {
  width: 100%;
  height: 55.5%;
  background-color: black;
}
.orange_circle {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #F59C07;
  position: absolute;
  top: 7%;
  left: 13%;
}
.chess {
  width: 100%;
  height: 44.5%;
}
.column_2 {
  height: 50%;
}
.scuare-g {
  width: 40%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.scuare-b {
  width: 40%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
}
.scuare-g2 {
  width: 20%;
  height: 100%;
  display: inline-block;
}
.scuare-b2 {
  width: 20%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
}
.head {
  height: 30.5%;
  width: 100%;
  border-bottom: 2px solid black;
  vertical-align: top;
}
.right-o {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.street {
  width: 70%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.circle-o {
  width: 10.3vw;
  height: 10.3vw;
  border-radius: 50%;
  background-color: #F59C07;
  position: absolute;
  top: 5%;
  left: 8.8%;

}
.street h3 {
  color: black;
  position: absolute;
  top: 26.5%;
  left: 2.5%;
}
.content2 {
  width: 100%;
  height: 69.5%;
}
.arrow7 {
  width: 40.8%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
  position: relative;
}
.arrow7 img {
  width: 79%;
  position: absolute;
  top: 13.7%;
  left: 10.5%;
}
.right-c {
  width: 59.2%;
  height: 100%;
  display: inline-block;
  position: relative;
  border-left: 2px solid black;
}
.street2 h3 {

  color: black;
  position: absolute;
  top: 20%;
  left: 13.5%;
}
.street2 {
  position: relative;
  width: 100%;
  height: 36%;
  border-bottom: 2px solid black;
}
.bottom-c {
  width: 100%;
  height: 64%;
}
.square-b {
  width: 50%;
  height: 100%;
  background-color: black;
  display: inline-block;
  margin-right: -4px;
}
.chess-r {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.scuare-g3 {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}
.scuare-b3 {
  width: 50%;
  height: 100%;
  background-color: #282F96;
  display: inline-block;
  margin-right: -4px;
}

.header2 {
  width: 100%;
  height: 21%;
	position: absolute;
	top: -8.8%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  vertical-align: top;
  background: #D1D1D1;
 }
 .right_text {
   height: 100%;
   width: 55.8%;
   border-right: 2px solid black;
   display: inline-block;
   margin-right: -4px;
   position: relative;
 }
 .left_arrow {
   height: 100%;
   width: 44.2%;
   display: inline-block;
   background-color: #F59C07;
   position: relative;
 }
 .right_text h3 {
   position: absolute;
   top: 23%;
   left: 6%;
 }
 .left_arrow img {
   width: 90%;
   position: absolute;
   top: 8.5%;
   left: 5%;
 }
 .main4 {
   height: 55%;
	 width: 100%;
	 position: absolute;
	 top: 12.2%;
 }
 .column1 {
   height: 55%;
   width: 100%;
   background-color: #D1D1D1;
   border-bottom: 2px solid black;
   position: relative;
 }

 .black {
   width: 13.7%;
   position: relative;
   top: 14%;
   left: 3%;
 }
 .orange {
   width: 13.5%;
   position: relative;
   top: 14%;
   left: 10%;
 }
 .grey {
   width: 13.5%;
   position: relative;
   top: 14%;
   left: 16%;
 }
 .blue {
   width: 13.5%;
   position: relative;
   top: 14%;
   left: 22%;
 }
 .orange_2 {
   width: 13.5%;
   position: relative;
   top: 14%;
   left: 28%;
 }
 .column2 {
   height: 45%;
   background-color: #282F96;
   border-bottom: 2px solid black;
   vertical-align: top;
 }
 .right_arrow {
   display: inline-block;
   width: 36%;
   height: 100%;
   margin-right: -4px;
   position: relative;
 }
 .right_arrow img {
   width: 100%;
   position: absolute;
   top: 19%;
   left: 8.5%;
 }
 .name {
   display: inline-block;
   width: 64%;
   height: 100%;
   position: relative;
 }
 .name h3 {
   color: #D1D1D1;
   position: absolute;
   top: 27%;
   left: 11%;
 }
 .footer {
   height: 33%;
   width: 100%;
	 position: absolute;
	 top: 67.2%;
   background-color: #D1D1D1;
   vertical-align: top;
 }
 .contacts {
   width: 35%;
   height: 100%;
   display: inline-block;
   margin-right: -4px;
   position: relative;
 }
 .right_black {
   width: 65%;
   height: 100%;
   background-color: black;
   display: inline-block;
   position: relative;
 }
 .right_black img {
   width: 80%;
   position: absolute;
   top: 17%;
   left: 9.5%;
 }
 p {
   font-family: 'Pragmatica', arial;
   font-size: 1.9vw;
   color: black;
 }
 .system  {
   margin: 6%;
   line-height: 115%;
   position: absolute;
   top: 5%;
 }
 .number {
   position: absolute;
   top: 57%;
   left: 6%;
 }
 .mail {
   position: absolute;
   top: 76%;
   left: 6%;
 }

 /* @media  (max-width: 479px) {

   .header {
     height: 40%;
   }
   .main {
     height: 60%;
   }
   .text {
     font-size: 55px;
   }
 } */
